body {
    background-color: #f1f5f9;
}

.container {
    background: #fff;
}

div h3 {
    color: #645cff;
}

p {
    color: #64748b;
}

.container:nth-child(3)
{
    background: rgba(0, 0, 0, 0.9);
}