/* reset global state */
* {
  margin: 0;
  /* HACK */
  /* border: 2px solid red; */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #f1f5f9;
  line-height: 1.5;
}

.section {
  padding: 5rem 0;
  background: #ffff;
}

.section-title {
  text-align: center;
  text-transform: capitalize;
}

.title-underline {
  height: 0.25rem;
  width: 5rem;
  background: cornflowerblue;
  /* in this case beware of the ordering (overwrite) */
  margin: 0 auto;
  margin-bottom: 2rem;

  /* or like this */
  /* top right bottom left */
  margin: 0 auto 2rem auto;
}

.section-center {
  /* if i add these params to section then I will restrict the section width */
  width: 90vw;
  /* for large screens */
  max-width: 1170px;
  margin: 0 auto;
}
